* {
    padding: 0;
    margin: 0;
}

body, html{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}

nav ul {
    list-style: none;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li {
    font-size: 2em;
}

nav ul li:hover {
    text-decoration: underline;
}

section{
    margin: 10px 50px;
    font-size: 1.1rem;
}

section h3 {
    font-style: italic;
}
